receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  debug:
    verbosity: detailed

  otlp:
    endpoint: "otelcol:4317"
    tls:
      insecure: true
  jaeger:
    endpoint: "jaeger:14250"
    tls:
      insecure: true   
service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp, debug, jaeger]

